<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/chap09_Utils/src/sec01_Object/Step02_toString.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="sec01_Object.Step02_toString"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="chap09_Utils"/>
</launchConfiguration>
